@charset "utf-8",
body {
font-family:Arial, Tahoma, sans-serif;
color: #000000;
background-color: #ffe054;
}
h1 {
color: #ffffff;
}
header {
background-color: #000000;
color: #ffffff;
text-align: center;
padding: 5px;
width: 80%;
margin-left: 10%
}
#container {
width: 100%;
}

main {
width: 80%;
background-color: #ffe054;
float: left;
padding: 2px;
margin-left: 10%;
border: 3px solid black;
}

footer {
clear: both;
background-color: #000000;
color: #ffffff;
text-align: center;
margin-left: 10%;
padding: 2px;
font-size: 12pt;
width: 80%;
}

nav {
color: #ffffff;
padding: 2px;
width: 80%;
margin-left: 10%;
font-weight: bold;
background-color: #cd0000;
border: 3px solid black;
height: 50px;
}
nav ul {
list-style: none;
}
nav ul li {
float: left;
padding: 0px;
}
nav ul li a:link, nav ul li a:visited {
display: block;
width: 150 px;
margin-right: 4px;
color #ffffff;
padding: 2px 4px 2px 4px;
background-color: #ffffff;
text-decoration: none;
}
nav ul li a:hover {
color: #ffffff;
background-color:#9b30ff;
}
nav ul li a: {
background-color:#ff0000;
border: 3px solid black;
}

#tablewidth {
width: 40%;
}

table, th, td {
border: 3px solid black;
}

th {
background-color:#ff0000;
font-size: 16pt;
}

td {
background-color:#ffe054;
}

table {
background-color:#cd0000;
float: left;
padding: 5px;
}

.underline {
text-decoration: underline;
}

footer {
background-color:#cd0000;
border: 3px solid black;
width: 80%;
}